.div-product-info {
    max-width: 400px;
}

#td-product-info {
    max-width: 380px;
}

#cart-product-info img {
    max-width: 25%;
}

#cart-product-info h3 {
    font-size: 1.5rem;
}

#units {
    background-color: #f0f0f0;
}

#units.border {
    padding: 8px;
}

#div-input-units {
    max-width: 50px;
}

input[name="units"] {
    text-align: center;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #dee2e6;
    background-color: #f0f0f0;
}

#cart-product-price {
    padding: 10px 0;
    width: 100%;
    word-wrap: normal;
}
