.div-product-info {
    max-width: 400px;
}

#td-product-info {
    max-width: 380px;
}

#cart-product-info img {
    max-width: 25%;
}

#cart-product-info h3 {
    font-size: 1.5rem;
}

#units {
    background-color: #f0f0f0;
}

#units.border {
    padding: 8px;
}

#div-input-units {
    max-width: 50px;
}

input[name="units"] {
    text-align: center;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #dee2e6;
    background-color: #f0f0f0;
}

#cart-product-price {
    padding: 10px 0;
    width: 100%;
    word-wrap: normal;
}

/* Model */
.modal-body#purchase-description-view {
    border: 0;
    width: 100%;
}

.modal-body#purchase-description-view .model-title {
    font-weight: 600;
}

.modal-body#purchase-description-view .block-option {
    min-height: 138px;
}

.modal-body#purchase-description-view .product-upgraded {
    color: #136006;
}

.modal-body#purchase-description-view .product-not-upgraded {
    color: #4d1919;
}

#div-order-total {
    border: 1px solid #aaa;
}

.sticky-top#div-order-total {
    top: 32px;
}

.bg-description {
    background-color: #f0f0f0;
}

#div-total-products span {
    font-size: .9rem;
}
