.border {
    border-radius: 8px;
    padding: 16px;
}

#section-info {
    z-index: 1000;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#product-sticky-banner .link-primary {
    color: #404040;
}

#product-sticky-banner .link-primary:hover {
    color: #000;
}

#product-sticky-banner .link-primary:active {
    color: #555;
}

#main-product-image.sticky-top {
    top: 76px;
    z-index: 999;
}

#main-product-image {
    max-height: 500px;
}

#main-product-image img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: top center;
}

#main-form-buy h4 {
    font-weight: 600;
}

/* Block Options*/
.block-option {
    border-radius: 8px;
    background-color: #f0f0f0;
    border: 1px solid #aaa;
}

/* CEP */
#div-cep-options .option-cep {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#div-cep-options .option-cep+.option-cep {
    margin-top: 8px;
}

#div-cep-options .option-cep p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    padding: .25rem;
    margin-left: .25rem;
    background-color: #f0f0f0;
    margin-bottom: 0;
}

#div-cep-options .option-cep p span span,
#div-cep-options .option-cep p span:last-child {
    font-weight: bold;
}

#lvl .block-option,
#lvl .block-option>* {
    cursor: pointer;
}

#lvl .block-option:hover,
#lvl .block-option>*:hover .block-option {
    background-color: #f0f0f0;
}

#lvl .block-option span {
    font-size: .9rem;
    font-weight: 600;
}

#lvl .block-option .durability-upgrade,
#enchant .form-check span {
    color: #136006;
    font-weight: bold;
}

/* Guarantee*/
.breakage_guarantee_upgrade {
    color: #136006;
    font-weight: 600;
}

/* Purchase description */
#purchase-description,
#purchase-description-view {
    border: 1px solid #aaa;
    width: 80%;
}

#purchase-description .fa-solid,
#purchase-description-view .fa-solid,
#div-cep-options .fa-solid {
    background-color: var(--btn-static);
    color: var(--btn-static-text-color);
    padding: .5rem;
    min-width: 37px;
    text-align: center;
}

#purchase-description h4~ul,
#purchase-description-view h4~ul {
    padding: .5rem 0;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
}

.purchase-description-option:not(.fa-solid) {
    padding: .25rem;
}

.purchase-description-info {
    padding: .25rem;
    margin-left: .25rem;
    background-color: #f0f0f0;
}

.purchase-description-info .purchase-title,
.purchase-description-info .purchase-price {
    font-weight: 600;
}

.purchase-list-info {
    list-style-type: square;
}

#mark-product i {
    font-size: 1.5rem;
    cursor: pointer;
}

#mark-product {
    background-color: var(--body-background);
}

#purchase-total-title,
#purchase-total-price {
    font-family: 'Open Sans', sans-serif !important;
    font-weight: bold;
}

#purchase-total-price {
    font-size: 1.25rem !important;
}

/* Product description*/
#section-desc {
    background-color: #fff;
}

#section-desc .block-option {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 117px;
}

#section-desc .separator,
#avaliation .col-12 .separator {
    padding: 0;
    height: 90%;
    width: 2px;
    background-color: #aaa;
}

#section-desc h4 {
    font-size: 1.15rem !important;
}

#section-desc p {
    margin: 0;
    font-size: .95rem !important;
}

.item-class-name::first-letter {
    text-transform: uppercase;
}

/* Section attributes */
#section-attributes {
    background-color: #fff;
}

#section-attributes .col-6 .col-4,
#section-attributes .col-6 .col-7 {
    background-color: var(--body-background);
}

#section-attributes li+li {
    margin-top: 16px;
}

#section-attributes .attribute-icon {
    text-align: center;
    min-width: 40px;
    min-height: 46px;
    padding: 8px;
    border-right: 1px solid #dee2e6;
    margin-right: 8px;
}


.attribute-icon>.bi-heart-fill {
    color: #91140B;
}

.attribute-icon>.fa-person-running {
    color: #3137D1;
}

.attribute-icon>.bi-shield-slash-fill,
.attribute-icon>.fa-user-slash {
    color: #D97B0E;
}

.attribute-icon>.material-symbols-outlined,
.attribute-icon>.fa-wand-sparkles {
    color: #771CA3 !important;
}

.attribute-icon>.fa-droplet {
    color: #2663AB !important;
}

#section-attributes .attribute-value {
    display: flex;
    justify-content: end;
    align-items: center;
    min-height: 46px;
    padding: 8px;
    font-weight: 600;
}

.comment {
    background-color: var(--body-background);
}

.comment+.comment {
    margin-top: 1rem;
}
